<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".NewsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsAppMVVMArchitecture"
        tools:targetApi="31">
        <activity
            android:name=".ui.news.NewsListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.searchnews.SearchNewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.languageselection.LanguageSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.countryselection.CountrySelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.newsources.NewSourcesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.topheadline.TopHeadLineActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainscreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>